body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #ff6f00;
}

/* video {
    clear: both;
    display: block;
    margin: 10px;
    background: #000000;
    width: 640px;
    height: 480px;
  } */

button {
  padding: 10px;
  margin: 5px 0px 5px 0px;
  color: black;
  background-color: whitesmoke;
  border-radius: 5px;
}

.removed {
  display: none;
}

#status {
  font-size: 150%;
  color: orangered;
  z-index: 2;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 100%;
  /* overflow: hidden; */
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  /* min-width: 90%;  */
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 0%;
  left: 0%;
  /* transform: translate(-50%,-50%); */
  z-index: -1;
}
.video-container #output-canvas {
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.button-container {
  text-align: center;
  position: fixed;
  right: 0;
  width: auto;
  display: block;
  top: 0;
  height: 100%;
  border-left: 5px solid grey;
  overflow-y: scroll;
  width: 17%;
  padding: 10px;
  margin: auto;
  z-index: 2;
  background-color: white;
}

.button-container div {
  text-align: center;
}

.button-container canvas {
  border: 2px solid grey;
  border-radius: 10px;
  margin-top: 10px;
}

#debug-container{
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.data-canvas {
  margin: auto;
  display: block;
}

.navigation-buttons {
  width: 100%;
}

#addClass{
  width: 100px;
  height: 100px;

}

#next{
  bottom: 0%;
  position: fixed;
  width: 16.5%;
  right: 1%;
}